
.SnippetForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-group {
    width: 50%;
}

.form-group > label {
    padding: 0.5em;
    width: 100%;
    color:rgba(17, 116, 135, 0.942);
    font-weight: bold;
    text-decoration: none;
}

.form-group > label > input {
    width: 100%;
    display: flex;
}

.btn-add-Snippet {
    color:rgba(17, 116, 135, 0.942);
    font-weight: bold;
    text-decoration: none;
}

/* .user-picture{
    height: 100px;
    width: 100px;     
} */