body {
    background-color: #bbf7f4e4;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
h1, h2, p {
    color: rgba(17, 116, 135, 0.942)
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form-group {
    width: 50%;
}
.form-group > label {
    padding: 0.5em;
    width: 100%;
    color:rgba(17, 116, 135, 0.942);
    font-weight: bold;
}
.form-group > label > input {
    width: 100%;
    display: flex;
    /* flex-direction: column;
    justify-content: center;
    align-items: center; */
}
.form-section link {
    padding: 1em;
    border: 0.2px solid #EEFCF8;
    border-radius: 0.5em;
    background-color: rgba(152, 225, 240, 0.942);
    font-weight: bold;
    text-decoration: none;
}
.btn-submit, .btn-register {
    color:rgba(17, 116, 135, 0.942);
    font-weight: bold;
    text-decoration: none;
}